{% extends 'SilentD/base2.html' %}
{% load staticfiles %}
{% block navbar_amr %} active {% endblock %}
{% block body_block %}

    <link href="{% static 'css/dataTables.bootstrap.css'%}" rel="stylesheet">
    <link href="{% static 'css/styles.css'%}" rel="stylesheet">
    <link href="{% static 'css/dataTables.colVis.css'%}" rel="stylesheet">
    <link href="{% static 'css/dataTables.tableTools.css'%}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-slider.css'%}" rel="stylesheet">
    <link href="{% static 'css/select2.css' %}" rel="stylesheet">

    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'js/dataTables.colVis.js' %}"></script>
    <script src="{% static 'js/dataTables.tableTools.js' %}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <!--<script src="{% static 'js/modules/exporting.js' %}"></script>
    <script src="{% static 'js/bootstrap-slider.js' %}"></script>
    <script src="{% static 'js/select2.js' %}"></script>-->

    <style>

        .panel-heading a:after {
            font-family: 'Glyphicons Halflings', serif;
            content:"\e114";
            float: right;
            color: grey;
        }
        /*Author: Kosmom.ru*/
        .loading,.loading>td,.loading>th,.nav li.loading.active>a,.pagination li.loading,.pagination>li.active.loading>a,.pager>li.loading>a{
            background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
            background-size: 40px 40px;
            animation: 2s linear 0s normal none infinite progress-bar-stripes;
            -webkit-animation: progress-bar-stripes 2s linear infinite;
        }
        .btn.btn-default.loading,input[type="text"].loading,select.loading,textarea.loading,.well.loading,.list-group-item.loading,.pagination>li.active.loading>a,.pager>li.loading>a{
            background-image: linear-gradient(45deg, rgba(235, 235, 235, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(235, 235, 235, 0.15) 50%, rgba(235, 235, 235, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
        }
    </style>

    <section class="content-header">
        <h1>
            Antimicrobial Resistance
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default" id="panel3">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-target="#collapseThree" href="#collapseThree">Usage and Additional Info</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                Antimicrobial Resistance Detector determines the presence of resistance marker genes in bacterial genomes<br>
                                <a href="http://www.ncbi.nlm.nih.gov/books/NBK279690/">BLAST+</a> (NCBI) or SRST2 is used in conjunction with
                                the <a href="https://www.ncbi.nlm.nih.gov/bioproject/313047">Bacterial Antimicrobial Resistance Reference Gene Database (NCBI)</a>
                                Rarity calculated based on hits amongst a species. Currently Rarity scales support E.Coli, Salmonella, Listeria, Vibrio, Staph and Campylobactor.
                                If the organism doesn't correspond to these 6 bacteria, then rarity will be calculated for all bacteria genomes in our database<br><br>
                                <table class="table table-condensed">
                                    <tr>
                                        <th class="tg-031e">Rarity (Higher is Rarer)</th>
                                        <th class="tg-031e">Prevalence<br></th>
                                    </tr>
                                    <tr>
                                        <td class="tg-031e">1</td>
                                        <td class="tg-031e">50%+</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-031e">2</td>
                                        <td class="tg-031e">30%-49.9%</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-031e">3</td>
                                        <td class="tg-031e">20-29.9%</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-031e">4</td>
                                        <td class="tg-031e">10-19.9%</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-031e">5</td>
                                        <td class="tg-031e">0-9.9%</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!-- Default box -->
                <div class="box box-primary">
                    <div class="box-body">
                        <!-- Tabs -->
                        <ul class="nav nav-tabs">
                            {% if results %}
                                <li class="nav"><a href="#1" data-toggle="tab">Previous Tests</a></li>
                                <li class="nav active"><a href="#2" data-toggle="tab">Result</a></li>
                            {% else %}
                                <li class="nav active"><a href="#1" data-toggle="tab">Previous Tests</a></li>
                            {% endif %}
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">

                            <div class="tab-pane fade in {% if not results %}active{% endif %}" id=1>
                                <button type="button" id="reload" class="btn btn-primary btn-sm" onclick="location.href='.'"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>

                                <br>
                                <br>
                                <table id="T1" class="table table-striped table-condensed">
                                    <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>File</th>
                                        <th>Mash Organism</th>
                                        <th>Results</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% if projects %}
                                        {% for project in projects %}
                                            <tr>
                                                <td>{{ project.date|date:"m-d-Y-H:i"  }}</td>
                                                <td>{{ project.description  }}</td>
                                                <td>{{ project.reference }}</td>
                                                <td>
                                                    {% if project.amr_results == "Running" %}
                                                        <button disabled type="submit" id="submit" class="btn btn-info btn-xs loading custombutton">Running</button>
                                                    {% elif project.amr_results == "Error" %}
                                                        <button disabled type="submit" id="submit" class="btn btn-danger btn-xs custombutton">Error</button>
                                                    {% elif project.amr_results == "Success" %}
                                                        <div>
                                                            <table>
                                                                <tr>
                                                                    <td>
                                                                        <form class="form-inline" role="form" action="{% url "amr" %}" method="post">
                                                                            {% csrf_token %}
                                                                            <input type="hidden" name="result" value="{{ project.geneseekr_results.name }}">
                                                                            <input type="hidden" name="id" value="{{ project.id }}">
                                                                            <button type="submit" id="submit" class="btn btn-success btn-xs custombutton">Results</button>
                                                                        </form>
                                                                    </td>
                                                                    <td style="padding: 5px">
                                                                        <a href="{{ project.geneseekr_results.url }}" class="btn btn-primary btn-xs"><i class="fa fa-fw fa-cloud-download"></i></a>
                                                                    </td>
                                                            </table>
                                                        </div>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>

                            {% if results %}
                                <div class="tab-pane fade in active" id=2>
                                    <div id="container" style="width: 750px; height: 600px; margin: 0 auto"></div>
                                </div>

                            {% endif %}
                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </div><!-- /.col -->
                </div>
            </div>

            <!-- Datatables Initialization Script -->
            <script type="text/javascript">

                //Initialize datatables and sort by Date descending
                $('#T1').DataTable( {
                    "order": [[ 0, "desc" ]],
                } );

                $(".progress-bar").animate({
                    width: "100%"
                }, 11000);

                var colors = Highcharts.getOptions().colors,
    categories = [{% for key in results %}"{{ key }}",{% endfor %}],

    data = [
        {% for key, value in results.items %}
            {
                y: {{ value|length}},
                color: "{% cycle '#8B008B' '#4B0082' '#483D8B' '#00008B' '#27408B' '#6495ED' '#104E8B' '#36648B' '#00688B' '#33A1C9' '#00868B' '#03A89E' '#00C78C' '#008B45' '#00CD00' '#698B22' as cols %}",
                drilldown: {
                    name: 'NCBI Accession',
                    categories: [{% for k, v in value.items %}'{{ k }}',{% endfor %}],
                    data: [{% for k,v in value.items %}{{ v.rarity }},{% endfor %}],
                    identity: [{% for k,v in value.items %}"{{ v.identity }}",{% endfor %}],
                    annotation: [{% for k,v in value.items %}"{{ v.annotation }}",{% endfor %}]
                }
        },
        {% endfor %}
            ],

    browserData = [],
    versionsData = [],
    rarityData = [],
    i,
    j,
    dataLen = data.length,
    drillDataLen,
    brightness;


// Build the data arrays
for (i = 0; i < dataLen; i += 1) {

    // add browser data
    browserData.push({
        name: categories[i],
        y: data[i].y,
        color: data[i].color
    });

    // add version data
    var colourRarity;
    drillDataLen = data[i].drilldown.data.length;
    for (j = 0; j < drillDataLen; j += 1) {
        value = data[i].drilldown.data[j]
        if (value < 0.1) {
            colourRarity = '#E50500';
        } else if (value < 0.25) {
            colourRarity = '#F2615E';
        } else if(value < 0.5) {
            colourRarity = '#FFBDBD';
        } else {
            colourRarity = 'grey';
        }
        brightness = 0.2 - (j / drillDataLen) / 5;
        versionsData.push({
            name: data[i].drilldown.categories[j],
            y: 1, //data[i].drilldown.data[j],
            info: data[i].drilldown.identity[j],
            anno: data[i].drilldown.annotation[j],
            color: Highcharts.Color(data[i].color).brighten(brightness).get()});
        rarityData.push({
            name: data[i].drilldown.categories[j],
            y: 1, //data[i].drilldown.data[j],
            info: value,
            color: colourRarity
        });
    }
}

// Create the chart
Highcharts.chart('container', {
    chart: {
        type: 'pie'
    },
    title: {
        text: 'NCBI AMR Target Detection For'
    },
    subtitle: {
        text: 'Prevalence Calculated For'
    },
    yAxis: {
        title: {
            text: 'AMR Targets'
        }
    },
    plotOptions: {
        pie: {
            shadow: false,
            center: ['50%', '50%']
        }
    },
    tooltip: {
        shared: false,
        formatter: function() {
            var text = '';
            if(this.series.name == 'Rarity') {
                text = "Prevalence Factor: " + this.point.info;
            } else if (this.series.name == "Gene") {
                text = "Identity: " + this.point.info + "\n" + "Annotation: " + this.point.anno;
            } else {
                text = this.point.name;
            }
            return text;
        }
    },
    series: [{
        name: 'Class',
        data: browserData,
        size: '60%',
        dataLabels: {
            color: '#ffffff',
            distance: -30
        }
    }, {
        name: 'Gene',
        data: versionsData,
        size: '95%',
        innerSize: '60%',
        dataLabels: {
            formatter: function () {
                return null;
            }
        }
    },{
        name: 'Rarity',
        data: rarityData,
        size: '100%',
        innerSize: '95%'
    }]
});

            </script>

    </section><!-- /.content -->
{% endblock %}
